<head>
  <style>
    body {
      background-color: #CDE7EA;
    }
    </style>
<center><h1>Happy Birthday <%= @name%>!</h1>

<br>
<br>
<form action= "/" method= "get">
<input type="submit" value="Enter another date">
</form></center>